
                {% extends 'base.html' %}
                {%block title%}
                Guest Registration
                {%endblock title%} 
            {%block body%}
            <head>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            </head>
            {% if msg == "Data Not Added" %}

            <script>

                alert("Data Not Added");
            </script>
            {%endif%}
            <style>
                .required:after {
                  content:" *";
                  color: red;
                }
              </style>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/ResidentRegistration">Resident</a></li>
                    <li><a class="dropdown-item" href="/GuestRegistration" type="selected">Guest</a>
                    </li>
                </ul>
                
            </div>
            <div class="container my-3">
                <h1 style="margin-top: 75px;">Guest</h1>
                <div class="container" style="background-color:rgb(255, 255, 204);padding:40px">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-6">
                                
                                        <label class="form-label required">First Name:</label>
                                        <input type="text" class="form-control" value="" placeholder="First Name" name="First_Name" style="background-color:rgb(204, 255, 153)" required> 
                                    
                            </div>
                            <div class="col-xs-12 col-sm-6 col-6">
                                
                                        <label class="form-label">Last Name:</label>
                            <input type="text" class="form-control" value="" placeholder="Last Name" name="Last_Name" style="background-color:rgb(204, 255, 153)">
                                   
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-6">
                                
                                <label class="form-label required">CNIC:</label>
                                <input type="text" class="form-control" value="" placeholder="3110111111111" name="CNIC" maxlength="13" style="background-color:rgb(204, 255, 153)" required>
                                    
                            </div>
                        </div>
                        
    
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-6" >
                                <label class="form-label required">Car Name:</label>
                                <input type="text" class="form-control" value="" placeholder="Honda/Toyota" name="Car_Name" style="background-color:rgb(204, 255, 153)" required>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-6">
                                <label class="form-label required">License plate number:</label>
                            <input type="text" class="form-control" value="" name="Car_Plate_number" placeholder="XXX123" style="background-color:rgb(204, 255, 153)" required>
                            </div> 
                        </div>   
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-3" style="width:33%" >
                                
                                        <label class="form-label">House Number:</label>
                                        <input type="number" class="form-control" value="" placeholder="123" name="H_no" style="background-color:rgb(204, 255, 153)">
                                   
                            </div>
                            <div class="col-xs-12 col-sm-6 col-4" style="width:33%">
                                
                                            <label class="form-label">Street:</label>
                            <input type="number" class="form-control" value="" name="Street" placeholder="1" style="background-color:rgb(204, 255, 153)">
                                        
                                   
                            </div>
                            <div class="col-xs-12 col-sm-6 col-4" style="width:33%">
                                
                                            <label class="form-label">Sector/Block:</label>
                                            <input type="number" class="form-control" placeholder="1" style="background-color:rgb(204, 255, 153)" value="" name="Sector">
                                            
                                </div>
                            </div>
                        </div>
                       
                       
                        <br>
                        <button type="submit" name="Save" class="btn btn-primary">Submit</button>
                        
                        <button type="submit" name="Issuecard" class="btn btn-primary">Issue Card</button>
                    
                        
                    </form>
                </div>
            </div>
            
                {%endblock body%}
