
               
                {% extends 'base.html' %}
                {%load static%}
               
                {%block title%}
                Details
                {%endblock title%} 
            {%block body%}
          
          
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/ViewDetailsResident">Resident</a></li>
                  <li><a class="dropdown-item" href="/ViewDetailsGuest" type="selected">Guest</a></li>
                </ul>
              </div>
            <h1 style="margin-top: 75px;">Resident</h1>
            <div class="container">
                <table class="table" id="table_id">
                    <thead>
                        <tr>
                            <th scope="col">Sr #</th>
                            <th scope="col">CNIC</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone No</th>
                            <th scope="col"> Address</th>
                            <th scope="col"> View Details</th>
                            <th scope="col"> Actions</th>
                            <th scope="col"> Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for data in Residents %}
                        <td>{{ forloop.counter }}</td>
                            <td>{{ data.CNIC }}</td>
                                <td>{{ data.First_Name }}</td>
                                <td>{{ data.Last_Name }}</td>
                                <td>{{ data.Phone_Number }}</td>
                                <td>House No:{{ data.House_no }} Street:{{data.Street}} Sector:{{data.Sector}}</td>
                                <td>
                                    <a href="{% url 'ViewSpecificResident' data.Resident_id %}">View Details</a>
                                </td>

                                <td>
                                    <a href="{% url 'Edit_Resident' data.Resident_id %}">Edit</a>
                                </td>
                                <td>
                                   <form action="{% url 'delete_resident' data.Resident_id %}" method="POST">
                                        {% csrf_token %}
                                        <input type="submit" value="delete">
                                        
                                    </input>
                                    </form> 
                                </td>
                            </tr>
                        </thead>
                        
                        {% endfor %}

                   
                    </tbody>
                </table>
            </div>
           
                {%endblock body%}


