*{
    margin: 0px;
    padding: 0px;
}
.dashimg{
    height: 160px;
    width: 160px;
}
.optionlist{
    background-color:rgb(241, 241, 241);
    height: 100vh;
}
.list-style{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 5px;
    margin-top:3px;
    width: 100%;
}
.actions-picture{
    display: inline-block;
    height: 25px;
    width: 25px;
}
a{
    text-decoration: none;
}
h5{
    padding: 10px;
}
.signout{
    display: inline-block;
}